.faq {
    $p: &;
    border-bottom: 1px dotted $blue;

    &__question {
        color:$blue;
        font-weight: bold;
        position: relative;
        background: $bgSecondary;
        padding: 20px 45px 20px 20px;
        line-height: 1;
        cursor: pointer;
        border-left:0 solid $blue;
        transition: all $duration $easing;

        &:hover {
            border-left:5px solid transparentize($blue, .3);
        }

        p {
            margin: 0;
            font-size:16px;
            line-height: 21px;

            @include breakpoint(sm){
                font-size:18px;
                line-height: 24px;
            }
        }

        &:before,
        &:after {
            content: '';
            display: block;
            position: absolute;
            right:10px;
            width: 30px;
            height: 1px;
            background: $blue;
            top:calc(50% - 1px);
            transition: all $duration $easing;
            pointer-events: none;
        }

        &:after {
            transform: rotate(90deg);
        }
    }

    &__answer {
        transition: all $duration $easing;
        overflow: hidden;
        opacity: 0;

        p{
            padding: 20px 20px 0;
            &:not(:last-child) {
                margin: 0;
            }
        }
    }

    &.-open {
        #{$p}__question {
            border-left: 5px solid $blue;
            &:after{
                transform: rotate(0);
            }
        }

        #{$p}__answer {
            opacity: 1;
        }
    }
}
