extends ../_layouts/base

include ../_modules/dropdown/dropdown
include ../_modules/slider/slider
include ../_modules/faq/faq

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../'

block content
    .main.detail
        
        section.container-fluid.detail__hero
            .row
                .col-xs-24.col-sm-20.col-sm-offset-2.col-md-16.col-md-offset-4.col-lg-14.col-lg-offset-5
                    h1.detail__title Trip Name
                    p.detail__desc Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        section.detail__content.bg-secondary
            .container
                .row
                    .col-xs-24.col-sm-16.col-md-12
                        .detail__col
                            h2 All about Trip
                            .detail__divider
                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            .detail__divider
                            .row
                                .col-xs-24.col-md-12
                                    h3 Destinations
                                    .detail__divider
                                    +dropdown(site.data.home.searchWidget[0])
                                    a._button.-small(href="#") Go to Destination page
                                .col-xs-24.col-md-12
                                    h3 Ships available
                                    .detail__divider
                                    +dropdown(site.data.home.searchWidget[2])
                                    a._button.-small(href="#") Go to trip page
                            .detail__divider
                            h2 Trip features
                            .detail__divider
                            ul.detail__features
                                li Característica 1
                                li Característica 2
                                li Característica 3
                                li Característica 4
                                
                        .detail__col
                            h2 Itinerary for Trip 
                            .detail__divider
                            each day in site.data.detail.itinerary
                                +faq(day)
                        
                    .col-xs-24.col-sm-16.col-md-12
                        .detail__col.clearfix
                            each image, index in site.data.home.gallery
                                .col-xs-12.col-sm-6.detail__gallery
                                    a.detail__gallery__image(href=image, title="caption")
                                        img(src=image)
                                        
                        .detail__col
                            h2 Dates  
                            .detail__divider
                            ul.detail__features
                                li January - February
                                li June - July
                                li November - December
                            .detail__divider
                            h2 Price 
                            .detail__divider
                            ul.detail__features
                                li
                                    | 2 pax on bedroom  
                                    a._button.-small $14.000
                                li
                                    | 4 pax on bedroom  
                                    a._button.-small $20.000

                        .detail__col
                            h2 More info
                            .detail__divider
                            form.detail__contacto__form
                                .detail__contacto__form-group
                                    input.detail__contacto__form-input(placeholder="Name", type="text", name="name")
                                    input.detail__contacto__form-input(placeholder="Email", type="email", name="email")

                                label.detail__contacto__form-label(for="message") Message
                                textarea.detail__contacto__form-input(name="message", rows="6")
                                input._button.-white(type="submit", value="Send")
